[Unit]
Description=Supertalkie Buttons
After=multi-user.target mumble.service

[Service]
Type=simple
ExecStart=/usr/bin/python /home/mumble/supertalkie-buttons/supertalkie-buttons.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
